<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508451232115-cf70es7kl03lmm56l42gv1rsv7nvdmqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508451232115-cf70es7kl03lmm56l42gv1rsv7nvdmqd</string>
	<key>API_KEY</key>
	<string>AIzaSyBsN6gjsgh7NeI9r_HfOs2u6SkvGH7h6uE</string>
	<key>GCM_SENDER_ID</key>
	<string>508451232115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaft7.firestoredemo</string>
	<key>PROJECT_ID</key>
	<string>firestore-demo-2787c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-demo-2787c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508451232115:ios:00227688fedcf1ee</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-demo-2787c.firebaseio.com</string>
</dict>
</plist>